<section class="govuk-!-margin-bottom-8" th:fragment="button" xmlns:th="http://www.thymeleaf.org">
    <h3 class="govuk-heading-m" th:text="#{components.button.heading}">Button</h3>
    <div class="govuk-button-group">
        <button type="button" class="govuk-button" data-module="govuk-button" th:text="#{components.button.primary}">Save and continue</button>
        <button type="button" class="govuk-button govuk-button--secondary" data-module="govuk-button" th:text="#{components.button.secondary}">Find</button>
        <button type="button" class="govuk-button govuk-button--warning" data-module="govuk-button" th:text="#{components.button.warning}">Delete account</button>
    </div>
</section>
