<section class="govuk-!-margin-bottom-8" th:fragment="details" xmlns:th="http://www.thymeleaf.org">
    <h3 class="govuk-heading-m" th:text="#{components.details.heading}">Details</h3>
    <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text" th:text="#{components.details.summary}">Help with nationality</span>
        </summary>
        <div class="govuk-details__text" th:text="#{components.details.text}">Detail text.</div>
    </details>
</section>
