<section class="govuk-!-margin-bottom-8" th:fragment="moj-interrupt-card" xmlns:th="http://www.thymeleaf.org">
    <h3 class="govuk-heading-m" th:text="#{components.moj.interrupt-card.heading}">Interrupt card</h3>
    <div class="moj-interrupt-card">
        <h4 class="govuk-heading-m" th:text="#{components.moj.interrupt-card.title}">Sign in using Government Gateway</h4>
        <p class="govuk-body" th:text="#{components.moj.interrupt-card.body}">You'll need to sign in before you can continue with your application.</p>
    </div>
</section>
