<section class="govuk-!-margin-bottom-8" th:fragment="moj-identity-bar" xmlns:th="http://www.thymeleaf.org">
    <h3 class="govuk-heading-m" th:text="#{components.moj.identity-bar.heading}">Identity bar</h3>
    <div class="moj-identity-bar">
        <div class="moj-identity-bar__container">
            <div class="moj-identity-bar__details">
                <span class="moj-identity-bar__title" th:text="#{components.moj.identity-bar.title}">Norman Garbutt</span>
            </div>
        </div>
    </div>
</section>
