<section class="govuk-!-margin-bottom-8" th:fragment="phase-banner" xmlns:th="http://www.thymeleaf.org">
    <h3 class="govuk-heading-m" th:text="#{components.phase-banner.heading}">Phase banner</h3>
    <div class="govuk-phase-banner">
        <p class="govuk-phase-banner__content">
            <strong class="govuk-tag govuk-phase-banner__content__tag" th:text="#{components.phase-banner.tag}">Beta</strong>
            <span class="govuk-phase-banner__text" th:utext="#{components.phase-banner.text}">This is a new service.</span>
        </p>
    </div>
</section>
