<section class="govuk-!-margin-bottom-8" th:fragment="tag" xmlns:th="http://www.thymeleaf.org">
    <h3 class="govuk-heading-m" th:text="#{components.tag.heading}">Tag</h3>
    <div class="govuk-body">
        <strong class="govuk-tag" th:text="#{components.tag.active}">Active</strong>
        <strong class="govuk-tag govuk-tag--blue" th:text="#{components.tag.new}">New</strong>
        <strong class="govuk-tag govuk-tag--grey" th:text="#{components.tag.inactive}">Inactive</strong>
        <strong class="govuk-tag govuk-tag--green" th:text="#{components.tag.approved}">Approved</strong>
        <strong class="govuk-tag govuk-tag--red" th:text="#{components.tag.rejected}">Rejected</strong>
    </div>
</section>
