<!DOCTYPE html>
<html lang="en" class="govuk-template" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head :: head(#{error.403.page.title})}"></head>

<body class="govuk-template__body govuk-frontend-supported">
<a href="#main-content" class="govuk-skip-link" data-module="govuk-skip-link" th:text="#{common.skip.link}">Skip to main content</a>
<header th:replace="~{fragments/templates :: header}"></header>

<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-l" th:text="#{error.403.heading}">Access forbidden</h1>
                <p class="govuk-body" th:text="#{error.403.body}">You do not have permission to access this page.</p>
                <a href="/" class="govuk-link" th:text="#{error.403.home.link}">Go to homepage</a>
            </div>
        </div>
    </main>
</div>

<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>
